<style>
    .notification md-list-item p span {
        background: transparent !important;
        font-weight: bold;
    }

</style>

<div ng-show="vm.isInvoiceLoaded" class="loader padding-100" layout="column" layout-fill=""
    layout-align="center center">
    <md-progress-linear class="margin-bottom-20" md-mode="indeterminate" ng-show="vm.isInvoiceLoaded">
    </md-progress-linear>
</div>

<div ng-show="!vm.isInvoiceLoaded">

    <md-sidenav class="md-sidenav-left md-whiteframe-z4" md-component-id="filter" style="min-width:280px !important;">
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">Search</h1>
        </md-toolbar>
        <form flex="" name="vm.filter.form">
            <md-content class="md-padding">
                <md-autocomplete md-selected-item="vm.selectedItem" md-search-text="vm.searchText"
                    md-items="item in vm.querySearch(vm.searchText)" md-item-text="item.display" md-min-length="1"
                    placeholder="Search Customer" md-autofocus>
                    <md-item-template>
                        <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.display}}</span>
                    </md-item-template>
                    <md-not-found>
                        No customer matching.
                    </md-not-found>
                </md-autocomplete>

                <md-button class="md-primary md-raised width-100" ng-click="vm.searchCustomer(); vm.openSidebar('filter')">
                    Search
                    <md-icon md-font-icon="zmdi zmdi-search"></md-icon>

                </md-button>
                <!-- <md-button class="md-primary md-raised width-100" ng-click="resetForm()">
                    Clear
                    <md-icon md-font-icon="zmdi zmdi-delete"></md-icon>
                </md-button> -->

            </md-content>
        </form>
    </md-sidenav>


    <div layout="row" flex layout-align="start start" class="" style="padding:10px 0px 0px 10px !important;">
        <div flex="90">
            <md-button aria-label="search" class="md-primary md-raised md-small" ng-click="vm.createCustomer()"
                ng-if="buttonPermissions.invoice_addnew">
                <md-icon md-font-icon="fa fa-user-plus" style="font-size:14px;"></md-icon>
                <md-tooltip>Add Customer</md-tooltip>
            </md-button>
            <md-button aria-label="search" class="md-primary md-raised md-small" ng-click="vm.openSidebar('filter')">
                <md-icon md-font-icon="fa fa-search" style="font-size:14px;"></md-icon>
                <md-tooltip>Search Customer</md-tooltip>
            </md-button>
        </div>
        <div flex="10" ng-show="false">
            <div class="md-toolbar-tools-">
                <md-button class="md-icon-button toolbar-button animated" ng-click="vm.openSidebar('gateway_sync')"
                    aria-label="side navigation">
                    <md-icon md-font-icon="fa fa-bell-o"></md-icon>
                    <span class="toolbar-button-badge ng-scope md-cyan-white-theme" theme-background="warn"
                        style="background-color: red; color:white">{{vm.notifications.length}}</span>
                </md-button>
            </div>
        </div>
    </div>
    <div layout="row" layout-xs="column" layout-margin ng-hide="">

        <tri-widget flex title="" content-layout="column" content-layout-align="center">
            <md-table-container id="invoice_listing">
                <table md-table class="md-data-table2" md-progress="vm.promise">
                    <thead md-head md-order="vm.query.order" md-on-reorder="vm.CustomerData">
                        <tr md-row>
                            <th md-column></th>

                            <th md-column md-order-by="DisplayName"><span translate>{{vm.columns.DisplayName}}</span></th>
                            <th md-column md-order-by="PrimaryEmailAddr.Address"><span translate>{{vm.columns.PrimaryEmailAddr}}</span></th>
                            <th md-column  md-order-by="CompanyName" decend-first class="col5"> <span translate>{{vm.columns.CompanyName}}</span>
                            </th>

                            <th md-column md-order-by="Balance" class="col5"> <span translate>{{vm.columns.Balance}}</span></th>
                            <th md-column  class="col5"> <span translate>{{vm.columns.CardProfile}}</span></th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <!-- ng-disabled="invoice.IsPaid==1" -->
                        <tr md-row md-on-select="vm.toolBarProcess()" md-select="invoice.Id" md-select-id="invoice.Id"
                            md-auto-select
                            ng-repeat="invoice in vm.CustomerData | filter : vm.searchText  | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit">
                            <td md-cell></td>
                           
                            <!-- | orderBy: vm.pageQuery.order | limitTo: vm.pageQuery.limit : (vm.pageQuery.page -1) * vm.pageQuery.limit" -->
                            <td md-cell>{{invoice.DisplayName}}</td>
                            <td md-cell>{{::invoice.PrimaryEmailAddr.Address}}</td>
                            <td md-cell>{{invoice.CompanyName}}</td>
                            <td md-cell>{{invoice.Balance | number:2}}</td>

                            <!-- <td md-cell class="col5">{{::invoice.TxnDate | date:'MM/dd/yyyy'}}</td>
                            <td md-cell class="col5">{{::invoice.DueDate | date:'MM/dd/yyyy'}}</td>
                            <td md-cell class="col4">${{::invoice.Balance | number:2}}</td>
                            <td md-cell class="col3">${{::invoice.TotalAmt | number:2}}</td>
                            <td md-cell class="col2">
                                <span ng-if="invoice.IsPaid==0">Unpaid</span>
                                <span ng-if="invoice.IsPaid==1">Paid</span>
                            </td>
                            <td md-cell class="col1">
                                <md-chips class="status">
                                    <md-chip
                                        class="status {{invoice.SendGridEvent=='' ? 'notsent' : invoice.SendGridEvent}}">{{invoice.SendGridEvent==''
                                        ? 'not sent' : invoice.SendGridEvent}}</md-chip>
                                </md-chips>
                            </td>  -->

                            <!-- <td md-cell>
                                <md-button  class="md-primary md-fab md-mini" ng-class="[vm.buttonClass, vm.buttonHue]"
                                    aria-label="fab button" ng-click=vm.openCustomerDetail(invoice) permission="">
                                    <!-- permission-only="'invoice-detail'" -->
                                    <!-- <md-icon md-font-icon="zmdi zmdi-edit"></md-icon> -->
                                    <!-- <md-tooltip>Edit Customer</md-tooltip> -->
                                <!-- </md-button> -->
                            <!-- </td>  -->


                            <td md-cell ng-click=vm.openCustomerDetail(invoice)>
                                
                                    <!-- permission-only="'invoice-detail'" -->
                                    <md-icon md-font-icon="zmdi zmdi-edit"></md-icon>
                                    <md-tooltip>Edit Customer</md-tooltip>
                              
                            </td>






                        </tr>
                        <tr md-row ng-show="vm.CustomerData.length == 0">
                            <td md-cell colspan="10" style="text-align:center !important;text-transform:none;">There is
                                no data to display</td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
            <md-table-pagination md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.CustomerData.length}}"
                md-page-select md-on-paginate="logPagination"></md-table-pagination>
        </tri-widget>
    </div>
    <div flex>
        <!-- <md-fab-toolbar md-open="false" count="2" md-direction="right">
            <md-fab-trigger class="align-with-text">
                <md-button aria-label="menu" class="md-fab md-raised md-mini">
                    <md-icon md-font-icon="fa fa-info-circle"></md-icon>
                </md-button>
            </md-fab-trigger>

            <md-toolbar>
                <md-fab-actions class="md-toolbar-tools">
                    <md-chips class="status">
                        <md-chip class="status delivered">delivered</md-chip>
                        <md-chip class="status processed">processed</md-chip>
                        <md-chip class="status open">opens</md-chip>
                        <md-chip class="status click">clicks</md-chip>
                        <md-chip class="status spam_report">spam report</md-chip>
                        <md-chip class="status dropped">dropped</md-chip>
                        <md-chip class="status notsent">not sent</md-chip>
                    </md-chips>
                </md-fab-actions>
            </md-toolbar>
        </md-fab-toolbar> -->
    </div>
</div>
